/*_arc.scss*/

.arc {
    position: absolute;
    left: 15;
    top: 15;
//    outline: 1px dotted red;    //delete;
}

.arrow {
    position: absolute;
    left: 0;
    top: 0;
//    outline: 1px dotted blue;   //delete;
}