<!doctype html>
<html>
    <head>
        <title>Event Bush</title>
        <meta charset='utf-8' />
        <link href="css/styles.css" rel='stylesheet' />
    </head>
    <body>
        <ul class='cmenu create hidden'>
            <li id='create-node'><img src='img/empty.gif' />Default Node</li>
            <li id='create-ia'><img src='img/empty.gif' />Ia Node</li>
            <li id='create-ib'><img src='img/empty.gif' />Ib Node</li>
            <li id='create-ii'><img src='img/empty.gif' />II Node</li>
            <li id='create-iii'><img src='img/empty.gif' />III Node</li>
            <li id='create-influx'><img src='img/influx.png' />Influx</li>
            <li id='create-furcation'><img src='img/furcation.png' />Furcation</li>
            <li id='create-conflux'><img src='img/conflux.png' />Conflux</li>
        </ul>

        <ul class='cmenu remove hidden'>
            <li id='remove-element'><img src='img/empty.gif' />Remove</li>
        </ul>

        <canvas id='grid'></canvas>

        <script src='../lib/jquery.js'></script>
        <script src='js/defs.js'></script>
        <script src='js/element.js'></script>
        <script src='js/grid.js'></script>
        <script src='js/arc.js'></script>
        <script src='js/cmenu.js'></script>
        <script src='js/node.js'></script>
        <script src='js/port.js'></script>
        <script src='js/connectives.js'></script>
        <script src='../Model/uiEvents/cmenu-events.js'></script>
        <script src='js/events/cmenu-events.js'></script>
        <script src='js/events/elem-events.js'></script>
        <script src='js/events/node-events.js'></script>
        <script src='../Model/uiEvents/port-events.js'></script>
        <script src='js/run.js'></script>
    </body>
</html>
